.NewTaskInput {
  width: 300px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: inline;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.NewTaskInput input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.NewTaskInput button {
  padding: 0 1.3rem;
  border: none;
  background: #00303f;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5px;
  cursor: pointer;
  transform: background 0.2s ease-out;
  float: right;
}

.NewTaskInput button:hover {
  background: #cae4db;
}

.NewTaskInput input,
.NewTaskInput button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}
